<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section>
        <div class="profile clearfix">
            <%= image_tag @user.avatar.url(:thumb), size: '70x70', class: 'gravatar' if @user.avatar? %>
            <%=  default_avatar if @user.avatar.file.blank?%>
          <div>
            <%= @user.first_name%> <%= @user.last_name%>
          </div>
          <div>
            <% if current_user.following?(@user) %>
              <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), method: :delete ) do |f| %>
                <%= f.submit "Unfollow", class: "btn btn-primary" %>
              <% end %>
            <% else %>
              <%= form_for(current_user.active_relationships.build) do |f| %>
                <div><%= hidden_field_tag :followed_id, @user.id %></div>
                <%= f.submit "Follow", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="stats">
          <table>
            <tbody>
              <tr>
                <th>Tweets</th>
                <th>Followings</th>
                <th>Followers</th>
              </tr>
              <tr>
                <td><%= @tweets.length%></td>
                <td><%= render 'home/following' %></td>
                <td><%= render 'home/followers' %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="timeline">
        <h2 class="title">Tweets</h2>
        <ol class="tweets">
          <% @tweets.each do |tweets|%>
              <li class="tweet clearfix" id="5">
                <%= image_tag @user.avatar.url(:thumb), size: '70x70', class: 'gravatar' if @user.avatar?   %>
                  <%=  default_avatar if @user.avatar.file.blank?%>
                <div class="content">
                  <div class="user">
                    <%= @user.first_name %> <%= @user.last_name %>
                  </div>
                  <div class="tweet-content"><%= tweets.text %></div>
                    <div class="tweet-footer">
                      <posted> <%= time_ago_in_words(tweets.created_at)%></posted>
                    </div>
                  </div>
              </li>
          <% end %>
        </ol>
        <%= will_paginate @tweets, inner_window:1, outer_window:1, renderer: BootstrapPagination::Rails %>
        <hr>
      </div>
    </div>
  </div>
</div>
