<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section>
        <div class="profile clearfix">
          <% if current_user.avatar.url %>
            <%= image_tag(current_user.avatar.url) %>
          <% end %>
          <a href="/users/nazar">
            <img alt="Nazar Taran" class="gravatar" src="https://secure.gravatar.com/avatar/307a99b1eff78a2ca24d7c4097712f75?s=52">
          </a>
          <div>
            <a href="/users/nazar"><%= current_user.first_name%> <%=current_user.last_name%></a>
          </div>
          <div><%= current_user.email%></div>
        </div>
        <div class="stats">
          <table>
            <tbody>
              <tr>
                <th>Tweets</th>
                <th>Followings</th>
                <th>Followers</th>
              </tr>
              <tr>
                <td><a href="/users/nazar"><%= @tweets.length%></a></td>
                <td><a href="/users/nazar/following">0</a></td>
                <td><a href="/users/nazar/followers">0</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tweet-box">
          <%= form_for @tweet do |form|%>
            <%= form.text_area :text, size: '50x10'  %>
            <%= form.submit "Post",  class: 'btn btn-success' %>
          <% end %>
        </div>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="timeline">
        <h2 class="title">Tweets</h2>
        <ol class="tweets">
          <% @tweets.reverse_each do |tweets|%>
              <li class="tweet clearfix" id="5">
                <a href="/users/nazar"><img alt="Nazar Taran" class="gravatar" src="https://secure.gravatar.com/avatar/307a99b1eff78a2ca24d7c4097712f75?s=50"></a>
                <div class="content">
                  <div class="user">
                    <a href="/users/nazar"><%= current_user.first_name%> <%=current_user.last_name%></a>
                  </div>
                  <div class="tweet-content"><%= tweets.text%></div>
                    <div class="tweet-footer">
                      <posted> <%= time_ago_in_words(tweets.created_at)%></posted>
                        <div class="tweet-actions">
                          <%= link_to 'delete', tweets, :method => :delete, data: {confirm: "You sure?"}  %>
                        </div>
                    </div>
                  </div>
              </li>
          <% end %>
        </ol>
        <hr>
      </div>
    </div>
  </div>
</div>
