<div class="container">
  <div class="row">
    <aside class="col-md-4">
      <section>
        <div class="profile clearfix">
          <%= image_tag current_user.avatar.url(:thumb), size: '70x70', class: 'gravatar' if current_user.avatar?   %>
            <%=  default_avatar if current_user.avatar.file.blank?%>
          <div>
            <%= current_user.first_name%> <%=current_user.last_name%>
          </div>
          <div><%= current_user.email%></div>
        </div>
        <div class="stats">
          <table>
            <tbody>
              <tr>
                <th>Tweets</th>
                <th>Followings</th>
                <th>Followers</th>
              </tr>
              <tr>
                <td><%= @tweets.length %></td>
                <td><%= render 'following' %></td>
                <td><%= render 'followers' %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tweet-box">
          <%= form_for @tweet do |form|%>
            <%= form.text_area :text, size: '50x10'  %>
            <%= form.submit "Post",  class: 'btn btn-success' %>
          <% end %>
        </div>
      </section>
    </aside>
    <div class="col-md-8">
      <div class="timeline">
        <h2 class="title">Tweets</h2>
        <ol class="tweets">

          <% @users.each do |user| %>
            <% if current_user.following?(user) %>
            <% user.tweets.reverse_each do |tweets|%>
              <li class="tweet clearfix" id="5">
                <%= image_tag user.avatar.url(:thumb), size: '70x70', class: 'gravatar' if user.avatar?   %>
                  <%=  default_avatar if user.avatar.file.blank?%>
                <div class="content">
                  <div class="user">
                    <%= user.first_name%> <%= user.last_name %>
                  </div>
                  <div class="tweet-content"><%= tweets.text%></div>
                    <div class="tweet-footer">
                      <posted> <%= time_ago_in_words(tweets.created_at)%></posted>
                    
                    </div>
                  </div>
              </li>
              <%end%>
            <% end %>
          <% end %>
        </ol>
        <hr>
      </div>
    </div>
  </div>
</div>
